.register-back{
	background:linear-gradient(rgba(0, 0, 0, 0.612), rgba(0, 0, 0, 0.625)), url('./landing-pic (1).jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
form{
	border-radius: 10px;
	background-color: rgba(128, 128, 128, 0.071);
    font-family: 'Alata', sans-serif;
color: rgb(99, 230, 191);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    width: 90%;
    height: 60%;
}
input{
	border-bottom-style: solid;
	border-bottom-color: rgb(99, 230, 191);
	background: transparent;

	background-color: none;
	color: rgb(99, 230, 191);
}
h4{
	font-size: large;
	margin-bottom: 10px;
}
h6{
    
    color: rgb(99, 230, 191);
}
h6:hover{
    cursor: pointer;
}
h1{
    font-size: 20px;
}
.button{
    width: 20%;
    box-shadow: 0px 10px 14px -7px #276873;
	/* background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); */
	background-color:rgb(99, 230, 191);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding-bottom: 1px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
   
    font-family: 'Cabin', sans-serif;
}